@font-face {
  font-family: 'Iosevka Comfy Duo';
  font-style:  normal;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/iosevka-comfy-duo-regular.ttf")
}
@font-face {
  font-family: 'Iosevka Comfy Duo';
  font-style:  italic;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/iosevka-comfy-duo-italic.ttf")
}

@font-face {
  font-family: 'Iosevka Comfy Duo';
  font-style:  normal;
  font-display: auto;
  font-weight: 600;
  src: url("../fonts/iosevka-comfy-duo-bold.ttf")
}
@font-face {
  font-family: 'Iosevka Comfy Duo';
  font-style:  italic;
  font-display: auto;
  font-weight: 600;
  src: url("../fonts/iosevka-comfy-duo-bolditalic.ttf")
}

@font-face {
  font-family: 'Iosevka Comfy Duo';
  font-style:  normal;
  font-display: auto;
  font-weight: 800;
  src: url("../fonts/iosevka-comfy-duo-extrabold.ttf")
}
@font-face {
  font-family: 'Iosevka Comfy Duo';
  font-style:  italic;
  font-display: auto;
  font-weight: 800;
  src: url("../fonts/iosevka-comfy-duo-extrabolditalic.ttf")
}
